@charset "utf-8";


@media (min-width:1921px){
    .s2_title { 
        max-width:335px;
    }
    .s2_cont { 
        margin-top:100px;
    }

    .s2_list > li {
        padding-right:100px;
    }
    .s2_item:before {
        width:120px; height:120px;
    }

    .s2_item02:before {
        background-position:0 -120px;
    }
    .s2_item03:before {
        background-position:0 -240px;
    }
    .s2_item04:before {
        background-position:0 -360px;
    }

    .s2_more a {
        height: 75px;
        line-height: 75px;
        padding-right: 95px;
        font-size: 18px;
    }
    .s2_more a::after {
        height: 75px;
        width: 75px;
        background: #D5D5D5 url(../images/linkgo_allow_m.png) no-repeat 50% 50% / 50% auto;
    }

    a.s3_btn {
        margin-right: 15px;
        padding: 16px 30px;
    }
}

@media (max-width: 1920px){
    header h1 {
        margin-left: 5vw;
    }

    .gnb_list > li {
        padding: 0 37px;
    }
    .m_item {
        font-size: 16px;
    }

    .nat_target_in {
        font-size: 14px;
    }
    .btn_total_in {
        font-size: 16px;
    }
    .btn_total::before {
        transform: translateY(-5px);
    }
    .btn_total::after {
        transform: translateY(5px);
    }
    

    /* section */

    .s2_title_w {}
    .s2_title {
        max-width: 335px;
    }

}

@media (max-width: 1679px) {

    a.totalSubItem {
        font-size: 1.5vw;
    }

    .total_adress_w {
        bottom: 40px;
    }
    .total_adress_w h2 {
        font-size: 1.1vw;
    }
    .total_adress_list > li {
        font-size: 1vw;
    }

    .totalClose_w {
        height:55px;
        width: 20%;
        min-height: auto;
    }  

    

    .s2_bg {
        width: 20%;
    }
    .s2_img { 
        right:7%;
    }
    .s2_title_sub {
        font-size: 2.3vw;
    }
    .s2_item_title {
        font-size: 1.8vw;
    }
    .s2_item_cont {
        font-size: 1.3vw;
        margin-top: 40px;
    }

    .s2_more a {
        height: 40px;
        line-height: 40px;
        padding-right: 60px;
    }
    .s2_more a::after {
        width: 40px;
        height: 40px;
    }

    .s3_item_cont {
        font-size: 1.3vw;
    }
    .s3_item_title {
        font-size: 1.5vw;
        margin-bottom: 10px;
    }
    .s3_btn span {
        font-size: 1.3vw;
    }

}

@media (max-width: 1279px){


    .gnb_list > li {
        padding: 0 20px;
    }
}


/* gnb_list가 사라지는 포인트 */
@media (max-width: 1023px){
    .pc {
        display: none;
    }
    .mobile {
        display: block;
    }

    header {
        height: 55px;
        min-height: auto;
    }
    header h1 {
        margin-left: 30px;
        height: 55px;
    }
    header h1 a {
        width: 90px;
    }

    .gnb_list_wrap {
        display: none;
    }

    .national_list {
        width: 20%;
    }
    .totalMenu_wrap {
        width: 20%;
    }
    .btn_total_in {
        display: none;
    }
    .btn_total::before, .btn_total::after {
        width: 30px;
        left: 50%;
        top: 50%;
        margin-left: -15px;
    }

    /* total_menu_z */

    .total_menu_z_in {
        background-size: 80% auto;
    }
    .total_menu_z_in h1 {
        display: flex;
        margin-left: 30px;
        height: 55px;
        align-items: center;
        width: 172px;
    }
    .total_menu_z_in h1 a {
        display: inline-block;
        width: 90px;
        height: 100%;
        background: url(../images/toplogo_w.png) no-repeat center center / contain;
        text-indent: -9999px;
    }

    .total_menu {
        width: 100%;
        position: absolute;
        top: 55px;
        height: calc(100% - 160px);
        overflow: hidden;
        /* overflow-y: auto; - iscroll 사용 안 할때 자체 스크롤 */
    }
    ul.total_list {
        display: block;
        position: static;
        width: 100%;
        height: auto;
        padding-top: 70px;
    }
    .total_list > li {
        display: block;
        position: static; /*태그의 흐름에 따라 위치, 위치값 안먹힘*/ 
        text-align: center;
        margin-bottom: 35px;
    }
    .totalSubItem_wrap {
        padding-top: 0px;
        display: none;
    }
    a.totalM_item {
        font-size: 24px;
    }
    .totalM_item.active {
        border-bottom: 2px solid #fff;
    }
    .totalM_item.active + .totalSubItem_wrap {
        display: block;
    }

    ul.totalSubItem_List {
        padding-top: 25px;
    }
    a.totalSubItem {
        font-size: 16px;
    }

    .total_adress_w {
        bottom: 10px;
        text-align: center;
    }

    .total_adress_w h2 {
        font-size: 18px;
    }
    .total_adress_list {
        display: block;
    }
    .total_adress_list > li {
        display: block;
        font-size: 15px;
        line-height: 1.5;
        text-align: center;
        padding-right: 0px;
    }
    li.adress {
        display: none;
    }
    .totalClose_w {
        height:55px;
        width: 20%;
        min-height:auto;
        background:#fff;
    }
    a.btn_totalClose {
        padding-left: 0px;
    }
    a.btn_totalClose:before, a.btn_totalClose:after {
        background-color: #111;
        left: 50%;
    }

    .btn_totalClose_in {
        display: none;
    }

    /* section */

    .s2_w {
        position: relative;
        margin: 0 30px;
    }
    .s2_bg { 
        bottom:auto; 
        width:100%; 
        height:367px;
    }

    .s2_title_w {}  
    .s2_title { 
        max-width:200px;
    }
    .s2_title_sub {
        font-size: 25px;
        margin: 10px 0 20px;
    }
    .s2_topImg {
        width: 100%;
    }
    .s2_topImg img {
        max-width: 50%;
    }

    .s2_cont {
        margin-top:30px; 
    }
    .s2_item_title {
        font-size:16px;
    }
    .s2_item_cont {
        font-size:14px;
        margin-top:15px;
        font-weight:300;
    }

    .s2_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .s2_list > li {
        display: block;
        width: 50%;
        padding-right: 0px;
    }

    .s2_item p {
        font-size: 14px; 
        margin-top: 15px;
    }
    .s2_item::before {
        width: 70px;
        height: 70px;
        margin: auto;
    }
    .s2_item01:before { background-position:0 0; }
    .s2_item02:before { background-position:0 -70px; }
    .s2_item03:before { background-position:0 -140px; }
    .s2_item04:before { background-position:0 -210px; }

    .s2_more a {
        height:22px;
        line-height:22px;
        padding-right:30px;
    }
    .s2_more a::after {
        width: 22px;
        height: 22px;
        background: #D5D5D5 url(../images/linkgo_allow_m.png) no-repeat 50% 50% / 60% auto;
    }


    .s3 {
        background:url('../images/mc_geda_bg_m.png') no-repeat 50% 50% / cover;
    }
    .s3_w {
        margin: 60px 30px;
    }
    .s3_title {
        font-size: 25px;
    }
    .s3_main {
        font-size: 45px;
    }

    .s3_sub {
        margin-top: 40px
    }
    .s3_item_cont {
        font-size: 17px;
    }
    .s3_item_title {
        font-size: 24px;
    }

    .s3_btn_w {
        margin-top: 50px;
    }
    a.s3_btn {
        padding: 8px 15px;
    }
    .s3_btn span {
        font-size: 14px;
        padding-right: 30px;
    }
    .s3_btn span::before {
        width: 16px;
    }
    .s3_btn span:after {
        width:6px;
        height:6px;
        right: 4px;
        transform: rotate(45deg) translateY(calc(-50% - 1px));
    }


}

@media (max-width: 767px){
    .s2_topImg img {
        max-width: 100%;
    }
}